</main>

<footer>
  <div class="container">
    <h1>share your<br>thoughts</h1>

    <div id="nav">
      <ul>
        <li>
          <a href="/" class="home-link">
              <span> home</span>
              <span> home</span>
          </a>
        </li>
        <li>
          <a href="/express">
              <span> express thoughts</span>
              <span> express thoughts</span>
          </a>
        </li>
        <li>
          <a href="/explore">
              <span> explore thoughts</span>
              <span> explore thoughts</span>
          </a>
        </li>
      </ul>
    </div>
    <span class="F-line"></span>
    <p>Copyright © <%= currentYear%></p>
  </div>
    
  </footer>

  
</body>
</html>