<%- include("partials/header.ejs") %>
<main>
  <h1>share your thoughts</h1>

  <p>"Welcome to 'Share Your Thoughts,' a platform where your voice matters. Whether it's a fleeting idea, a heartfelt message, or a deep reflection, this space is yours to express what’s on your mind. Our goal is to create a community where thoughts can be shared freely, fostering connection and sparking meaningful conversations. Whether you're here to share your own thoughts or to engage with others, we hope you find inspiration and a sense of belonging. Dive in, and let's start sharing!"

  </p>

  <div class="btn">
    <button onclick="window.location.href='/express'">express yourself</button>
    <button onclick="window.location.href='/explore'">explore others</button>
  </div>


<%- include("partials/footer.ejs") %>