<%- include("partials/header.ejs") %>
<main>

    <div class="T-content">
        <h1> thank you</h1>

        <h2>for sharing your thoughts</h2>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
          setTimeout(function() {
            window.location.href = '/explore';
          }, 3000);
        });
    </script>

  